/* h1{
    display: flex;
    display: inline;
    padding: 0px;
    border: 3px solid black;
    margin-left: 10px;
    margin-bottom: 15px;
    position: sticky;

    
} */
.navimg{
    margin-right: 20px;
}