.container{
    display: flex;
    border-bottom: 5px solid black;
    /* display: ; */
    font-family: Arial, Helvetica, sans-serif;
}
img{
    margin-left: 25px;
    border: none;
}
h1{
    margin-top: 35px;
    text-align: center;
    padding-left: 430px;
}


